/* frontend/public/styles.css */
/* body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  text-align: center;
  margin: 20px;
}

form {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
} */



body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

h1 {
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


label {
  display: block;
  margin-bottom: 8px;
  color: #000000;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 200px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  color: #333;
}


/* Additional styles for left and right partitions */
.left-partition {
  flex-basis: calc(50% - 20px);
}

.right-partition {
  flex-basis: calc(50% - 20px);
}

.container {
width: 80%;
margin: 0 auto;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  width: 70%;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}